/*Imported fonts from Google Fonts (https://fonts.google.com/)*/
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400&family=Kumbh+Sans:wght@400;700&family=League+Gothic&family=Manrope:wght@800&family=Overpass:wght@400;700&family=Poppins:wght@500;700&family=Quicksand:wght@300;500&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    -webkit-user-select: none;  
    -moz-user-select: none;  
    -ms-user-select: none;  
    -o-user-select: none;  
    user-select: none;
    font-family: 'Poppins', 'sans-serif';
}


::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #004080;
    border: 2px solid white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #004080;
}